.bg_primario {
    background-color: #c0a65f !important;
}


/* confirmar asistencia */

/* para mobile */
@media (max-width: 767px) {
    .confirmarAsistencia {
        margin-top: 60px !important;
    }
    .btnUbicacion {
        width: 100% !important;
    }
    .ladoDerecho {
        padding: 0 0 8rem 0 !important;
    }
}
/* para mobiles con resolucon 1080 x 1920 */
@media (max-width: 1080px) and (max-height: 1920px) {
    .confirmarAsistencia {
        margin-top: 60px !important;
    }
    .btnUbicacion {
        width: 100% !important;
    }
    .ladoDerecho {
        padding: 0 0 8rem 0 !important;
    }
}



/* para tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .confirmarAsistencia {
        margin-top: 60px !important;
    }
    .btnUbicacion {
        width: 100% !important;
    }
}
