.bg_primario {
    background-color: #98a39c !important;
}


/* confirmar asistencia */

/* para mobile */
@media (max-width: 767px) {
    .confirmarAsistencia {
        margin-top: 60px !important;
    }
    .btnUbicacion {
        width: 100% !important;
    }
    .ladoDerecho {
        padding: 0 0 6rem 0 !important;
    }
}
/* para tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .confirmarAsistencia {
        margin-top: 60px !important;
    }
    .btnUbicacion {
        width: 100% !important;
    }
}
